@font-face {
  font-family: "iconfont"; /* Project id 4280736 */
  src: url('./iconfont.ttf?t=1698310060137') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-formatheader1:before {
  content: "\e860";
}

.icon-fontbgcolor:before {
  content: "\e678";
}

.icon-charutupian:before {
  content: "\e605";
}

.icon-juzhongduiqi:before {
  content: "\e620";
}

.icon-youduiqi:before {
  content: "\e64b";
}

.icon-zitijiacu:before {
  content: "\e656";
}

.icon-zitishanchuxian:before {
  content: "\e657";
}

.icon-zitixiahuaxian:before {
  content: "\e658";
}

.icon-zitixieti:before {
  content: "\e659";
}

.icon-zuoduiqi:before {
  content: "\e65a";
}

.icon-text-color:before {
  content: "\e650";
}

.icon-lorry:before {
  content: "\e67b";
}

.icon-yuyue:before {
  content: "\e60c";
}

.icon-gongyingshangjianlirenyuan:before {
  content: "\e63d";
}

.icon-tousujianyi:before {
  content: "\e603";
}

.icon-yuyuebaifang:before {
  content: "\e604";
}

.icon-waichushenqing:before {
  content: "\e613";
}

.icon-huoche:before {
  content: "\e607";
}

