@font-face {
  font-family: "iconfont"; /* Project id 4280736 */
  src: url('iconfont.ttf?t=1697507720205') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-truck:before {
  content: "\e8fd";
}

.icon-lorry:before {
  content: "\e67b";
}

.icon-yuyue:before {
  content: "\e60c";
}

.icon-gongyingshangjianlirenyuan:before {
  content: "\e63d";
}

.icon-tousujianyi:before {
  content: "\e603";
}

.icon-yuyuebaifang:before {
  content: "\e604";
}

.icon-waichushenqing:before {
  content: "\e613";
}

.icon-huoche:before {
  content: "\e607";
}

